**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/dist/
**/coverage/
**/.pytest_cache/
**/.scratch/
**/*.user
**/*.suo
**/*.db
**/*.db-shm
**/*.db-wal
.git/
.gitignore
project-docs/
frontend/
tests/
transcriber/
