{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AZURE_FUNCTIONS_ENVIRONMENT": "Development",
    "RabbitMqConnection": "amqp://admin:p%40ssw0rd@localhost:5672/",
    "RabbitMqQueueName": "consultation.processing",
    "RabbitMqConsultationTranscriptQueueName": "consultation.transcript",
    "BlobStorage__ConnectionString": "<medical-assistant-blob-connection-string>",
    "BlobStorage__ConsultationAudioContainer": "audio",
    "BlobStorage__ConsultationDocumentsContainer": "pdf",
    "AzureSpeech__Key": "<azure-speech-subscription-key>",
    "AzureSpeech__Region": "westeurope",
    "AzureSpeech__Locale": "el-GR",
    "AzureSpeech__Phrases": "",
    "ConnectionStrings__MedicalAssistantDatabasePostgreSQL": "Host=localhost;Port=5432;Database=MedicalAssistantDb;Username=postgres;Password=postgres;SSL Mode=Disable"
  }
}
